body,
html {
    margin: 0;
    font-family: Arial;
    height: 100%;
    min-height: 100%;
}
#submitForm {
    bottom: -170px;
    height: 170px;
    background: #aaa;
    color: #000;
    opacity: 0;
    display: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
}
textarea {
    height: 75px;
    display: block;
    resize: none;
    width: 100%;
}
header {
    background: #000;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
header h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
}
.sample {
    max-width: 75px;
    max-height: 75px;
}
#messages {
    overflow-y: scroll;
    height: auto;
    max-height: 90%;
}
.block {
    display: block;
    border-left: 1px solid #ddd;
    margin: 10px;
}
.inline {
    display: inline-block;
    padding: 10px;
}